@using System.Configuration
@using TransHaruhiko.CustomHelpers
@using TransHaruhiko.Globalization.Views.Shared
<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" media="all" type="image/x-icon" href="@Url.Content("~/favicon.ico")" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
    <title>@ViewBag.Title</title>
    <!--STYLES-->
    <link href="@Url.ContentCache("Content/utils/reset.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.ContentCache("Content/utils/jqueryui/jquery-ui.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.ContentCache("Content/utils/timepicker/jquery.timepicker.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.ContentCache("Content/utils/datatable/jquery.dataTables.min.css")" rel="stylesheet" />
    <link href="@Url.ContentCache("Content/utils/datatable/jquery.dataTables_themeroller.css")" rel="stylesheet" />
    <link href="@Url.ContentCache("Content/utils/datatable/dataTables.responsive.css")" rel="stylesheet" />

    <!--[if (gt IE 8) | (IEMobile)]><!-->
    <script type="text/javascript" src="@Url.ContentCache("Scripts/utils/jquery.min.js")"></script>
    <link href="@Url.ContentCache("Content/utils/unsemantic/unsemantic-grid-responsive.css")" rel="stylesheet" type="text/css" />
    <!--<![endif]-->
    <script type="text/javascript">
        function getInternetExplorerVersion() {
            var rv = -1; // Return value assumes failure.
            if (navigator.appName == 'Microsoft Internet Explorer') {
                var ua = navigator.userAgent;
                var re = new RegExp("MSIE ([0-9]{1,}[\.0-9]{0,})");
                if (re.exec(ua) != null)
                    rv = parseFloat(RegExp.$1);
            }
            return rv;
        }

        var ver = getInternetExplorerVersion();
        if ((ver > -1)&&(ver <= 8.0)) {
            document.write('<link href="@Url.ContentCache("Content/utils/unsemantic/ie.css")" rel="stylesheet" type="text/css">');
        }
    </script>

    @RenderSection("Stylesheet", required: false)
    <link href="@Url.ContentCache("Content/utils/utils.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.ContentCache("Content/base.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.ContentCache("~/Content/Site.css")" rel="stylesheet" type="text/css" />

    <!--SCRIPTS-->
    @*<script type="text/javascript" src="@Url.ContentNoCache("~/Globalization/Views/Shared")"></script>*@
    <script type="text/javascript" src="@Url.ContentCache("Scripts/utils/jquery-ui.min.js")"></script>
    <script type="text/javascript" src="@Url.ContentCache("Scripts/utils/jquery.ui.datepicker-es.js")"></script>
    <script type="text/javascript" src="@Url.ContentCache("Scripts/utils/jquery.dataTables.js")"></script>
    <script type="text/javascript" src="@Url.ContentCache("Scripts/utils/dataTables.responsive.min.js")"></script>
    <script type="text/javascript" src="@Url.ContentCache("Scripts/utils/ColVis.modified.js")"></script>
    <script type="text/javascript" src="@Url.ContentCache("Scripts/utils/jquery.blockUI.js")"></script>
    <script type="text/javascript" src="@Url.ContentCache("Scripts/utils/json.js")"></script>
    <script type="text/javascript" src="@Url.ContentCache("Scripts/utils/json2.js")"></script>
    <script type="text/javascript" src="@Url.ContentCache("Scripts/utils/jquery.maskedinput.js")"></script>
    <script type="text/javascript" src="@Url.ContentCache("Scripts/utils/date.format.js")"></script>
    <script type="text/javascript" src="@Url.ContentCache("Scripts/utils/autoNumeric.js")"></script>
    <script type="text/javascript" src="@Url.ContentCache("Scripts/utils/jquery.store.js")"></script>
    <script type="text/javascript" src="@Url.ContentCache("Scripts/utils/jquery.textchange.min.js")"></script>
    <script type="text/javascript" src="@Url.ContentCache("Scripts/utils/jquery.timepicker.min.js")"></script>
    <script type="text/javascript" src="@Url.ContentCache("Scripts/utils/date.js")"></script>

    <script type="text/javascript" src="@Url.ContentCache("Scripts/globalize.js")"></script>
    <script type="text/javascript" src="@Url.ContentCache("Scripts/cultures/globalize.culture.es-ES.js")"></script>
    <script type="text/javascript" src="@Url.ContentCache("Scripts/utils/utils.js")"></script>
    @*<script type="text/javascript" src="@Url.ContentCache("~/Scripts/utils.js")"></script>*@

    <script type="text/javascript">
        Globalize.culture('@System.Configuration.ConfigurationManager.AppSettings["DefaultCulture"]');
        var imgUrl = "@Url.ContentCache("images/loading-control.gif")";
        var imgCal = "@Url.ContentCache("images/calendar.gif")";
        var SiteUrl = '@Url.Content("~")';
        var imgInformacion = SiteUrl + "images/icon-informacion.png";
        var ImgLoading = $('<img class="ui-box-message-loading" title="Cargando" alt="Cargando" src="' + imgUrl + '" />');
        var RegistrosPorPagina = "@System.Configuration.ConfigurationManager.AppSettings["RegistrosPorPagina"]";
    </script>
    @*<script type="text/javascript" src="@Url.ContentNoCache("~/Globalization/Scripts/CommonStrings.js")"></script>*@
    @*<script type="text/javascript" src="@Url.ContentNoCache("~/Globalization/Views/Shared/CommonStrings.js")"></script>*@
    <script type="text/javascript" src="@Url.ContentNoCache("~/Scripts/app.js")"></script>
    <script type="text/javascript" src="@Url.ContentCache("Scripts/utils/adapt.js")"></script>
    @RenderSection("JavaScript", required: false)
</head>
<body>
    <div id="main-wrapper" class="grid-container">
        <div id="header">
            <div class="box-logo">
                <img src="@Url.ContentNoCache("images/logo-unir.png")" alt="UNIR" title="UNIR" />
            </div>
            <p class="mensaje">Gestión de Alcances de Encuestas</p>
            <div class="box-current-user">@Html.Partial("_LogOnPartial")</div>
        </div>
        <div id="main-menu" class="clearfix ui-widget-header">
            <ul>
                <li><a href="@Url.Action("List", "Pedido")">Pedidos</a></li>
                @if (string.IsNullOrEmpty(Session["Rol"] as string))
                {
                    <script> window.location.href = '@Url.Action("Logoff", "Login")'; </script>
                }
                else
                {
                    if (Session["Rol"].Equals("Administrador"))
                    {
                        @*<li><a href="@Url.Action("List", "LogRegla")">Log Reglas</a></li>
                        <li><a href="@Url.Action("Index", "ParametroConfiguracion")">Parametros Configuración</a></li>*@
                    }
                }
            </ul>
        </div>

        <div id="body">
            <h1>@ViewBag.TitlePage</h1>
            <div class="content">
                @RenderBody()
            </div>
        </div>
        <div id="footer">
            <span>@LayoutStrings.InfoFooter</span>
            <div class="box-build">
                @Html.Raw(ConfigurationManager.AppSettings["build"])
            </div>
        </div>
    </div>
</body>
</html>
