@using TransHaruhiko.CustomHelpers
@using TransHaruhiko.Globalization.Scripts.Common
@using TransHaruhiko.Globalization.Views.Pedido

@section Stylesheet {
    <link href="@Url.ContentCache("Content/utils/fileupload/jquery.fileupload-ui.css")" rel="stylesheet" type="text/css" />
}
@section Javascript {
    <script type="text/javascript" src="@Url.ContentCache("Scripts/utils/jquery.iframe-transport.js")"></script>
    <script type="text/javascript" src="@Url.ContentCache("Scripts/utils/jquery.fileupload.js")"></script>
    <script type="text/javascript" src="@Url.ContentCache("Scripts/utils/jquery.xdr-transport.js")"></script>

    <script type="text/javascript" src="@Url.Content("~/Globalization/Pedidos/Editar")"></script>
    
    @*<script type="text/javascript" src="@Url.ContentNoCache("~/Scripts/popupProgressBar.js")"></script>*@
    <script type="text/javascript" src="@Url.ContentNoCache("~/Scripts/pages/Pedidos/Editar.js")"></script>

    @*<script type="text/javascript" src="@Url.Content("~/AccountSavedParams/SeguimientosMainListParams")"></script>
    <script type="text/javascript" src="@Url.Content("~/IncludePrivilegesInfo/act_actas")"></script>
    <script type="text/javascript" src="@Url.Content("~/IncludePrivilegesInfo/act_diligencias")"></script>
    <script type="text/javascript" src="@Url.Content("~/IncludePrivilegesInfo/act_procesos")"></script>*@
}
<div id="page-acta-editar">
    <input type="hidden" id="hd-id-pedido" value="@ViewBag.IdPedido" />
    <div class="box-fieldset">
        <span class="field-title">@EditarStrings.SectionInformacion</span>
        <div class="clearfix">
            <div class="grid-100 mobile-grid-100">
                <ul class="box-form">
                    <li>
                        <label class="grid-10 mobile-grid-100">@EditarStrings.LabelCliente</label>
                        <span id="lb-cliente" class="label grid-65 mobile-grid-100"></span>
                    </li>
                    <li>
                        <label class="grid-10 mobile-grid-100">@EditarStrings.LabelTelefono</label>
                        <span id="lb-telefono" class="label grid-15 mobile-grid-100"></span>
                        <label for="txt-direccion" class="grid-15 mobile-grid-100">@EditarStrings.LabelDireccion </label>
                        <textarea id="txt-direccion" class="grid-40 mobile-grid-100" maxlength="250"> </textarea>
                    </li>
                    <li>
                        <label class="grid-10 mobile-grid-100">@EditarStrings.LabelEstado</label>
                        <span id="lb-estado" class="label grid-15 mobile-grid-100"></span>
                        <label class="grid-15 mobile-grid-100">@EditarStrings.LabelDireccionUrl</label>
                        <input id="txt-direccion-url" class="grid-40 mobile-grid-100" type="text" />
                    </li>
                    <li>
                        <label class="grid-10 mobile-grid-100">@EditarStrings.LabelContenedor</label>
                        <input id="txt-contenedor" class="grid-15 mobile-grid-100" type="text" />
                    </li>
                    <li>
                        <label class="grid-10 mobile-grid-100">@EditarStrings.LabelBL</label>
                        <div class="box-fileupload grid-20 mobile-grid-100">
                            <form id="frm-fichero" action="#"></form>
                        </div>
                    </li>
                    
                    @*<li>
                        <label id="lb-etiqueta-gestor-documental" class="grid-10 mobile-grid-100" style="display: none;">@DatosInfoStrings.LabelCodigoGestorDocumental</label>
                        <span id="lb-codigo-gestor-documental" class="label grid-65 mobile-grid-100" style="display: none;"></span>
                        <img id="img-loading" src="~/Content/images/loader.gif" style="display: none;">
                    </li>*@
                </ul>
            </div>
        </div>

    </div>
    <div class="tabs">
        <ul>
            <li><a href="#tab-importadora">@EditarStrings.TabImportadora</a></li>
            <li><a href="#tab-agencia-despachante">@EditarStrings.TabAgenciaDespachante</a></li>
            <li><a href="#tab-transportadora">@EditarStrings.TabTransportadora</a></li>
            <li><a href="#tab-desaduanizacion">@EditarStrings.TabDesaduanizacion</a></li>
            <li><a href="#tab-seguimientos">@EditarStrings.TabSeguimientos</a></li>
        </ul>
        <div id="tab-importadora">
            <div class="box-fieldset">
                <span class="field-title"></span>
                <div class="clearfix">
                    <div class="grid-100 mobile-grid-100">
                        <ul class="box-form">
                            <li>
                                <label class="grid-10 mobile-grid-100">@EditarStrings.LabelListaEmpaque</label>
                                <div class="box-fileupload grid-20 mobile-grid-100">
                                    <form id="frm-fichero" action="#"></form>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
            <div>
                <button id="btn-guardar" class="button">guardar</button>
                <button id="btn-cancelar" class="button">volver</button>
            </div>
        </div>
    
        @*<div id="tab-seguimientos">
            <div class="box-fieldset">
                <span class="field-title">@CommonStrings.SectionFiltros</span>
                <div class="clearfix">
                    <div class="grid-100 mobile-grid-100">
                        <ul class="box-form">
                            <li>
                                <label class="grid-5 mobile-grid-100">@SeguimientosStrings.LabelTipoSeguimiento</label>
                                <select id="cbx-seguimiento-tipo-seguimiento" class="grid-25 mobile-grid-100"></select>
                            </li>
                            <li>
                                <label class="grid-5 mobile-grid-100">@SeguimientosStrings.LabelFecha</label>
                                <input type="text" id="txt-seguimiento-fecha-desde" class="datepicker grid-10 mobile-grid-100" />
                                <label class="grid-5 mobile-grid-100">@CommonStrings.TextHasta</label>
                                <input type="text" id="txt-seguimiento-fecha-hasta" class="datepicker grid-10 mobile-grid-100" />
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="align-right">
                    <button id="btn-seguimiento-buscar" class="button">@CommonStrings.TextBuscar</button>
                    <button id="btn-seguimiento-limpiar" class="button">@CommonStrings.TextLimpiar</button>
                </div>
            </div>
            <div class="box-fieldset">
                <span class="field-title">@CommonStrings.SectionResultados</span>
                <table id="tb-seguimientos" class="display"></table>
            </div>
        </div>*@
    </div>
    <br />
</div>