@using TransHaruhiko.CustomHelpers
@using TransHaruhiko.Globalization.Views.Pedido

@{
    Layout = null;
}


<div id="popup-pedido-crear" class="grid-container">
    <h2 align="center"> @CreateStrings.TitleCrear </h2>
    <div class="grid-100 mobile-grid-100">
        <div class="grid-50">
            <ul class="box-form">
                <li>
                    <label for="cbx-clientes-crear" class="grid-25 mobile-grid-100">@CreateStrings.LabelCliente </label>
                    <select id="cbx-clientes-crear" class="grid-70 mobile-grid-100"></select>
                </li>
                <li>
                    <label for="txt-descripcion-crear" class="grid-25 mobile-grid-100">@CreateStrings.LabelDescripcion </label>
                    <textarea id="txt-descripcion-crear" class="grid-70 mobile-grid-100" maxlength="500"> </textarea>
                </li>
            </ul>
        </div>
        <div class="grid-50">
            <ul class="box-form">
                <li>
                    <label for="txt-direccion-crear" class="grid-25 mobile-grid-100">@CreateStrings.LabelDireccion </label>
                    <textarea id="txt-direccion-crear" class="grid-70 mobile-grid-100" maxlength="500"></textarea>
                </li>
                <li>
                    <label for="txt-direccion-url-crear" class="grid-25 mobile-grid-100">@CreateStrings.LabelDireccionUrl </label>
                    <input id="txt-direccion-url-crear" class="grid-70 mobile-grid-100" type="text" maxlength="500"/>
                </li>
            </ul>
        </div>
    </div>
</div>
<script type="text/javascript" src="@Url.ContentNoCache("~/Scripts/pages/Pedidos/Crear.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Globalization/Pedidos/List")"></script>
