@using TransHaruhiko.CustomHelpers
@using TransHaruhiko.Globalization.Scripts.Common
@using TransHaruhiko.Globalization.Views.Poliza

@{
    ViewBag.Title = ListStrings.Tittle;
    ViewBag.TitlePage = ListStrings.TittleListado;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Stylesheet {
    <link href="@Url.ContentCache("Content/utils/fileupload/jquery.fileupload-ui.css")" rel="stylesheet" type="text/css" />
}
@section Javascript {
    <script type="text/javascript" src="@Url.ContentCache("Scripts/utils/jquery.iframe-transport.js")"></script>
    <script type="text/javascript" src="@Url.ContentCache("Scripts/utils/jquery.fileupload.js")"></script>
    <script type="text/javascript" src="@Url.ContentCache("Scripts/utils/jquery.xdr-transport.js")"></script>

    <script type="text/javascript" src="@Url.Content("~/Globalization/Polizas/List")"></script>
    <script type="text/javascript" src="@Url.Content("~/Globalization/Common/Common")"></script>
    <script type="text/javascript" src="@Url.ContentNoCache("~/Scripts/pages/Polizas/List.js")"></script>
    <script type="text/javascript"> var RolUsuario = "@Session["Rol"]" </script>

}
<div id="page-poliza-editar">
    <input type="hidden" id="hd-id-pedido" value="@ViewBag.IdPedido" />
    <div class="box-fieldset">
        <span class="field-title">@ListStrings.SectionInformacion</span>
        <div class="clearfix">
            <div class="grid-100 mobile-grid-100">
                <ul class="box-form">
                    <li>
                        <label class="grid-10 mobile-grid-100">@ListStrings.LabelEmpresa</label>
                        <span id="lb-empresa" class="label grid-65 mobile-grid-100"></span>
                    </li>
                    <li>
                        <label class="grid-10 mobile-grid-100">@ListStrings.LabelCliente</label>
                        <span id="lb-cliente" class="label grid-65 mobile-grid-100"></span>
                    </li>
                    <li>
                        <label class="grid-10 mobile-grid-100">@ListStrings.LabelTelefono</label>
                        <span id="lb-telefono" class="label grid-20 mobile-grid-100"></span>
                        <label for="txt-direccion" class="grid-15 mobile-grid-100">@ListStrings.LabelDireccion </label>
                        <span id="lb-direccion" class="label grid-30 mobile-grid-100"></span>
                    </li>
                    <li>
                        <label class="grid-10 mobile-grid-100">@ListStrings.LabelEstado</label>
                        <span id="lb-estado" class="label grid-20 mobile-grid-100"></span>
                        <label class="grid-15 mobile-grid-100">@ListStrings.LabelDireccionUrl</label>
                        <a id="lb-direccion-url" target="_blank" class="label grid-10 mobile-grid-100"></a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
    <div class="box-fieldset">
        <span class="field-title">@ListStrings.TextSeccionResultado</span>
        <div class="box-buttons">
            <button id="btn-crear" class="button">@ListStrings.ButtonNuevo</button>
            <button id="btn-planilla-despacho" class="button">@ListStrings.ButtonPlanillaDespacho</button>
        </div>
        <table id="tb-polizas" class="display"></table>
    </div>
    <br />
    <div>
        <button id="btn-volver" class="button">volver</button>
    </div>
</div>